<form class="" action="/display_puppy" method="post">
  <p>Please enter a name<input type="text" name="name" value=""></p>
  <p>Please enter a breed<input type="text" name="breed" value=""></p>
  <p>Please enter a age<input type="text" name="age" value=""></p>
  <input type="submit" name="" value="submit">
</form>
